@import "~materialize-css";
@import "./cards";
img.responsive-img{
  max-width: 15%;

}
.img-index{
  max-width: 20%;
  height: 50px;
}
.img-welcome{
  background-size: contain;
}
img.materialboxed{
  align-items: center;
  margin-left: 40px;
}

