{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center-align blue-grey-text">Nos boucles d'oreilles</h1>
{% for jewelry in jewelries %}
    <ul class="center-align">
        <li>{{ jewelry.name }}</li>
        <li><img width="15%" src="{{ jewelry.picture }}" alt=""></li>
        <li>{{ jewelry.description }}</li>
        <li>{{ jewelry.price }}€</li>
    </ul>
{% else %}
    <h5 class="center-align">Plus de boucles d'oreilles en stock</h5>
    <div class="row">
        <img class="materialboxed" width="650" src="https://www.cjoint.com/doc/20_07/JGxpgZuIjUA_Logo.jpg" alt="">

    </div>
    {% endfor %}
{% endblock %}
