<footer class="page-footer blue-grey">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text material-icons">contacts</h5>
                <p class="grey-text text-lighten-4">33150 Cenon</p>
                <p class="grey-text text-lighten-4"><i class="material-icons">phone</i><p>0671614341</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/lesbijouxdecaline/">Facebook</a>
            </div>
            <div class="col l4 offset-l2 s12">
                <p class="grey-text text-lighten-4 right" href="#!">Instagram</p>
            </div>

            <div class="col l4 offset-l2 s12">
                <p class="grey-text text-lighten-4 right" href="#!">Twitter</p>
            </div>
        </div>
    </div>

</footer>
