<nav>
    <div class="nav-wrapper blue-grey">
        <a href="#!" class="brand-logo">Les Bijoux de Caline</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Boucles d'oreilles</a></li>
            <li><a href="">Parures</a></li>
            <li><a  href="" >Bracelets</a></li>
            <li><a href="">Colliers</a></li>
        </ul>
    </div>
</nav>


